.bg {
    /* The image used */
    background-image: url("../img/kitty.gif");
    background: #66CEFF;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
